@import url(global.css);

@import url(header.css);
@import url(footer.css);

@import url(index-styles/index_hero.css);
@import url(index-styles/index_offers.css);
@import url(index-styles/index_categories.css);
@import url(index-styles/index_destinations.css);
@import url(index-styles/index_payment.css);
@import url(index-styles/index_depoiments.css);
@import url(index-styles/index_media-queries.css);

@import url(blog-styles/blog_hero.css);
@import url(blog-styles/blog_article.css);
@import url(blog-styles/blog_destinations.css);
@import url(blog-styles/blog_media-queries.css);

@import url(packs-styles/packs_hero.css);
@import url(packs-styles/packs_payment.css);
@import url(packs-styles/packs_footer.css);
@import url(packs-styles/packs_media-queries.css);

@import url(contacts-style/contacts_hero.css);
@import url(contacts-style/contacts_form.css);
@import url(contacts-style/contacts_footer.css);
@import url(contacts-style/contacts_media-queries.css);


body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    gap: 88px;
}

section{
    padding: 0 24px;
}

h1,
h2,
h3,
h4,
p{
    color: var(--background-quaternary-color);
    font-family: var(--text-font);
}