section#payment-conditions{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
    max-width: 1440px;
    width: 100%;
}

.payment-conditions__content, 
.payment-conditions__container-text
{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 24px;
}

.payment-conditions__container-text h3{
    color: var(--background-quaternary-color);
    font-size: var(--title-h5-size);
}

.payment-conditions__container-text p{
    font-size: var(--text-body2-size);
    line-height: 32px;
}

.payment-conditions__container-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.homepage_img1-img2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-image: none;
    max-width: 100%;
    width: 312px;
}

.homepage_img1-img2 img{
    display: block;
    border-radius: 16px;
}

.homepage_img1-img2 img:nth-child(3){
    width: 100%;
}