section#populary-destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 24px;
    width: 100%;
}

.populary-destinations__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
}

.places{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--background-secondary-color);
    background-position: center center;
    border-radius: 16px;
    padding: 32px 16px;
    width: 100%;
}

.places__img{
    border-radius: 16px;
    height: 360px;
    max-width: 100%;
    width: 312px;
}

#places__img-tokyo{
    background-image: url(../../images/Mobile/Homepage/Tokyo.jpg);
    background-repeat: no-repeat;
}

#places__img-osaka{
    background-image: url(../../images/Mobile/Homepage/Osaka.jpg);
    background-repeat: no-repeat;
}

.places h3{
    font-size: var(--title-h4-size);
}

.places p{
    color: var(--background-quaternary-color);
    font-size: var(--text-body2-size);
    font-family: var(--text-font);
    max-width: 800px;
}