#hero__img3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/Mobile/Destino/Banner\ Destino.png);
    padding: 32px 24px;
    height: 460px;
}

.hero__img3__position{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-adjusts{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

#hero__img3 h1,
#hero__img3 p
{
    color: var(--text-primary-color);
}

#hero__img3 h1{
    font-size: var(--title-h2-size);
}

#hero__img3 p{
    font-size: var(--text-body1-size);
    line-height: 32px;
}