#hero__img4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../../images/Mobile/Contato/Banner\ contato.png);
    padding: 32px 24px;
    height: 460px;
}

.hero__img4__position{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-adjusts{
    display: flex;
    flex-direction: column;
    align-items: start;
}

#hero__img4 h1,
#hero__img4 p
{
    color: var(--text-primary-color);
}

#hero__img4 h1{
    font-size: var(--title-h2-size);
}

#hero__img4 p{
    font-size: var(--text-body1-size);
    line-height: 32px;
}