section#tokyo{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

article{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.article-container,
.article-text
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.article-text h3{
    font-size: var(--title-h4-size);
}

.article-text p{
    font-size: var(--text-body1-size);
    line-height: 32px;
}

picture{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
    width: 100%;
}

#arriving-photo__tokyo,
#accomodation-photo__tokyo
{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
    margin: auto;
}

#arriving-photo__tokyo{
    background-image: url(../images/Mobile/Blogpost/Tokyo1.png);
    height: 312px;
    max-width: 100%;
    width: 360px;
}

#accomodation-photo__tokyo{
    background-image: url(../images/Mobile/Blogpost/Tokyo2.png);
    height: 312px;
    max-width: 100%;
    width: 300px;
}

/*---Media Queries---*/

@media screen and (min-width: 360px) {
    #arriving-photo__tokyo{
        background-image: url(../images/Tablet/Blogpost/Tokyo-1.png);
        height: 360px;
        width: 312px;
    }

    picture small{
        text-align: left;
    }

    #accomodation-photo__tokyo{
        background-image: url(../images/Tablet/Blogpost/Tokyo\ 2.png);
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    section#tokyo{
        padding: 0 60px;
    }

    #arriving-article-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 24px;
    }

    #arriving-article-text{
        width: calc(100% - 336px);
    }

    #arriving-photo__tokyo{
        background-image: url(../images/Desktop/Blogpost/Tokyo1.png);
        height: 360px;
        width: 312px;
    }

    #accomodation-photo__tokyo{
        background-image: url(../images/Desktop/Blogpost/Tokyo2.png);
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    section#tokyo{
        padding: 0 120px;
    }

    article{
        margin: auto;
        max-width: 1200px;
    }

    #arriving-article-text{
        width: calc(100% - 612px);
    }

    #arriving-photo__tokyo{
        background-image: url(../images/Desktop_Large/Blogpost/Tokyo1.png);
        height: 360px;
        width: 588px;
    }

    #accomodation-photo__tokyo{
        background-image: url(../images/Desktop_Large/Blogpost/Tokyo2.png);
        max-width: 1440px;
        width: 100%;
    }
}