#hero__img4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../images/Mobile/Contato/Banner\ contato.png);
    padding: 32px 24px;
    height: 460px;
}

.hero__img4__position{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.title-adjusts{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

#hero__img4 h1,
#hero__img4 p
{
    color: var(--text-primary-color);
}

#hero__img4 h1{
    font-size: var(--title-h2-size);
}

#hero__img4 p{
    font-size: var(--text-body1-size);
    line-height: 32px;
}

/*---Media Queries---*/

@media screen and (min-width: 360px) {
    #hero__img4{
        background-image: url(../images/Tablet/Contato/Banner\ Contato.png);
    }    

    #hero__img4 h1{
        font-size: var(--title-h1-size);
    }

    #hero__img4 p{
        font-size: var(--text-body2-size);
        line-height: 32px;
    }
}

@media screen and (min-width: 768px) {
    #hero__img4{
        background-image: url(../images/Desktop/Contato/Banner\ Contato.png);
        height: 620px;
    }  

    .hero__img4__position{
        margin: auto;
        width: 580px;
    }

    #hero__img4 p{
        font-size: var(--text-body4-size);
        line-height: 150%;
    }
}

@media screen and (min-width: 1440px) {
    #hero__img4{
        background-image: url(../images/Desktop_Large/Contato/Banner\ contato.png);
        justify-content: center;
    }  

    .hero__img4__position{
        margin: 0 120px;
        width: 580px;
    }

    #hero__img4 p{
        font-size: var(--text-body4-size);
        line-height: 150%;
    }
}