footer,
.footer__content,
.footer__media
{
    display: flex;
    flex-direction: column;
}

footer{
    gap: 32px;
    background-color: var(--background-tertiary-color);
    color: var(--text-primary-color);
    text-align: center;
    line-height: 28px;
    margin-top: 100px;
    padding: 32px 24px;
    height: max-content;
    width: 100%;
}

.footer__content{
    gap: 16px;
    text-align: center;
    font-size: var(--text-body1-size);
}

.footer__content img{
    margin: auto;
    height: 40px;
    width: max-content;
}

footer p{
    color: var(--text-primary-color);
}

.footer__content a{
    color: var(--text-primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: 150ms;
}

.footer__content a:hover{
    color: var(--text-secondary-color);
    text-decoration: underline;
}

.footer__media{
    gap: 16px;
}

.footer__media__images{
    gap: 8px;
}

.footer__media__images img{
    height: 24px;
}

/*---Media Queries---*/

@media screen and (min-width: 768px) {
    footer{
        padding: 32px 60px;
    }

    .footer__content{
        font-size: var(--text-body2-size);
    }

    .footer__media__images img{
        height: 32px;
    }
}

@media screen and (min-width: 1440px) {
    footer{
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 32px 120px;
    }

    

    .footer__content{
        text-align: start;
        width: 591px;
    }

    .footer__content img{
        margin: 0;
    }

    .footer__media{
        width: max-content;
    }
}