footer,
#positioning-container,
.footer-container,
.footer__content,
.footer__media
{
    display: flex;
    flex-direction: column;
}

footer{
    color: var(--text-primary-color);
    text-align: center;
    line-height: 28px;
    margin-top: 88px;
    width: 100%;
}

.pre-footer{
    background-image: url(../images/Desktop/Homepage/Imagem\ pré\ rodapé\ 1\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center center;
    margin: auto;
    height: 400px;
    max-width: 1440px;
    width: 100%;
}

.footer-container{
    background-color: var(--background-tertiary-color);
}

.footer__content{
    gap: 16px;
    text-align: center;
    font-size: var(--text-body1-size);
    padding: 32px 24px;
    max-width: 1440px;
}

.footer__content img{
    margin: auto;
    height: 40px;
    width: max-content;
}

footer p{
    color: var(--text-primary-color);
}

.footer__content a{
    color: var(--text-primary-color);
    text-decoration: none;
    font-weight: 500;
    transition: 150ms;
}

.footer__content a:hover{
    color: var(--text-secondary-color);
    text-decoration: underline;
}

.footer__media{
    gap: 16px;
}

.footer__media__images{
    gap: 8px;
}

.footer__media__images img{
    height: 24px;
}

/*---Media Queries---*/

@media screen and (min-width: 768px) {
    .footer__content{
        font-size: var(--text-body2-size);
        padding: 32px 60px;
    }

    .footer__media__images img{
        height: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .pre-footer{
        border-radius: 16px 16px 0 0;
    }

    .footer-container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 32px 120px;
    }

    .footer__content{
        text-align: start;
        width: 800px;
    }

    .footer__content img{
        margin: 0;
    }

    .footer__media{
        width: max-content;
    }
}