@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-display: swap;
}

*{
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-primary-color: #FFFFFF;
    --background-secondary-color: #F5F5F5;
    --background-tertiary-color: #000000;
    --background-quaternary-color: #222222;

    --text-primary-color: #D9D9D9;
    --text-secondary-color: #8C8C8C;

    --color-primary: #B81515;
    --color-secondary: #8F0101;

    --title-h1-size: 48px;
    --title-h2-size: 40px;
    --title-h3-size: 32px;
    --title-h4-size: 28px;
    --subtitle-size: 14px;

    --text-body1-size: 16px;
    --text-body2-size: 20px;
    --text-body3-size: 24px;
    --text-body4-size: 32px;

    --header-weight: 700;
    --title-weight: bold;
    --text-weight: normal;
    --text-body2-wheight: bold;
    --text-body4-wheight: bold;
    --text-font: "Montserrat", sans-serif;
}