#packs-pre-footer{
    background-image: url(../images/Mobile/Destino/Imagem\ pré\ rodapé.png);
}

/*---Media Queries---*/

@media screen and (min-width: 360px) {
    #packs-pre-footer{
        background-image: url(../images/Tablet/Destino/Imagem\ pré\ rodapé.png);
    }
}

@media screen and (min-width: 768px) {
    #packs-pre-footer{
        background-image: url(../images/Desktop/Destino/Imagem\ pré\ rodapé.png);
    }
}

@media screen and (min-width: 360px) {
    #packs-pre-footer{
        background-image: url(../images/Desktop_Large/Destino/Imagem\ pré\ rodapé.png);
    }
}