section#payment-conditions{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: auto;
    padding: 24px;
    max-width: 1440px;
}

.payment-conditions__content, 
.payment-conditions__container-text
{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.payment-conditions__container-text h3{
    color: var(--background-quaternary-color);
    font-size: var(--title-h4-size);
}

.payment-conditions__container-text p{
    font-size: var(--text-body2-size);
    line-height: 32px;
}

.payment-conditions__container-images{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.img1-img2{
    background-image: url(../images/Mobile/Homepage/Montagem\ mobile.png);
    height: 460px;
    max-width: 100%;
    width: 312px;
}

/*---Media Queries---*/

@media screen and (min-width: 768px) {
    .img1-img2{
        background-image: url(../images/Tablet/Homepage/Frame\ 5.png);
        height: 460px;
        width: 648px;
    }
}

@media screen and (min-width: 1440px) {

    .payment-conditions__content{
        flex-direction: row;
    }

    .img1-img2{
        background-image: url(../images/Desktop/Homepage/Frame\ 5\ \(3\).png);
        height: 460px;
        width: 790px;
    }
}