section#populary-destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 0 24px;
}

.populary-destinations__cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.places{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    background-color: var(--background-secondary-color);
    border-radius: 16px;
    padding: 24px 16px;
}

.places img{
    border-radius: 16px;
}

.places h3{
    font-size: var(--title-h4-size);
}

.places p{
    color: var(--background-quaternary-color);
    font-size: var(--text-body2-size);
    font-family: var(--text-font);
}