@import url(global.css);

@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(popular-destinations.css);
@import url(payment-conditions.css);
@import url(depoiments.css);
@import url(footer.css);

@import url(blog-hero.css);
@import url(blog-article-tokyo.css);
@import url(blog-popular-destinations.css);

@import url(contacts-hero.css);
@import url(contacts-form.css);
@import url(contacts-footer.css);

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    gap: 88px;
}

section{
    padding: 0 24px;
}

h1,
h2,
h3,
h4,
p{
    color: var(--background-quaternary-color);
    font-family: var(--text-font);
}