@import url(global.css);

@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categories.css);
@import url(popular-destinations.css);
@import url(payment-conditions.css);
@import url(depoiments.css);
@import url(footer.css);

body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    gap: 88px;
}